<p class="ingredient" id="ingredient-<%= @counter %>">
<%= f.text_field :amount, :class => "amount short" %>
<%= f.text_field :measurement, :class => "measure short" %>
of <%= f.text_field :name, :class => "name short" %></p>
