ul#header-links {
  display: inline;
  margin-left:auto;
  margin-right: auto;
}
#header {
  text-align: center;
  border-bottom: 1px solid brown;
  padding: 2px;
}
ul#header-links li {
  display: inline-block;
  padding: 10px;
  background: orange;
  color: brown;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid brown;
}

ul#header-links li.right {
  float: right;
  margin-right: 10px;
}

ul#header-links li a, ul#header-links li a:visited {
  color: brown;
}
ul#header-links li a:hover {
  color: brown;
  font-weight: bold;
  background: orange;
}
ul#header-links {
  padding: 2px;
  margin: 0px;
}
#body {
  text-align: center;
  border-top: 1px solid orange;
  padding: 10px;
}
body{
  margin-top: 0px;
}
#body-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60em;
}
.big{
  display: inline;
  font-size: 1.5em;
}
div.results{
  font-size: 1.2em;
}
