ul#header-links {
  display: inline;
  margin-left:auto;
  margin-right: auto;
}
.short {
  width: 4em;;
}
.amount {
  width: 3em;
}
.name {
  width: 7em;
}
#body{
	background-color: #F3E4CE;
	min-height: 400px;
}
#recipe_instructions {
  width: 35em;
  height: 20em;
}
#header {
  text-align: center;
  border-bottom: 3px solid brown;
  padding: 0px;
  padding-top: 5px;
}
#logo{
  display: inline-block;
  float:left;
  text-align:left;
  font-size: large;
  padding-top: 8px;
  padding-left: 5px;
  margin-right: -105px;
}
#welcome-message{
	margin:10px;
	font-size: large;
	background-color: #FFDAA3;
	padding: 6px;
	border: 1px solid orange;
}
ol#list {
  text-align: left;
}
ul#header-links li {
  display: inline-block;
  padding: 8px;
  background: orange;
  color: brown;
  border-radius: 15px 13px 1px 1px;
  -moz-border-radius: 15px 1px 1px 1px;
  border: 2px solid brown;
  border-color: brown brown orange;
  border-width: 2px 2px 0;
  border-style: solid;
  margin: 4px -6px 0;
  width: 85px;
}

ul#header-links li.right {
  float: right;
  margin-right: 10px;
}
a.right {
  position: absolute;
}
a.account-action{
  right: 1em;
}
a.account-ability{
  right: 5em;
}
ul#header-links li a, ul#header-links li a:visited {
  color: black;
  text-decoration: none;
}
ul#header-links li a:hover {
  color: black;
  font-weight: ;
  background: orange;
  text-decoration: none;
}
ul#header-links {
  padding: 2px;
  margin: 0px;
}
#body {
  text-align: center;
  border-top: 1px solid orange;
  padding: 10px;
}
body{
  margin-top: 0px;
}
#body-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60em;
}
.big{
  display: inline;
  font-size: 1.5em;
}
div.results{
  font-size: 1.2em;
}
form {
  text-align: left;
}
form#search-form {
  text-align: center;
}
ul#header-links li.blue{
  background: #94C1C1;
}
ul#header-links li.green, ul#header-links li.green a {
  background: green;
  color: white;
}
ul#header-links li.red, ul#header-links li.red a {
  background: #8D282B;
  color: white;
}
ul#header-links li.white{
  background: white;
}

